<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Professional Workroom of Design", root_path, id: "logo" %>
      <ul class="nav pull-right">
        <li class="divider-vertical"></li>
        <li>
          <a href="#" id="smedia">
            <span class="icon-stack">
              <i class="icon-sign-blank icon-stack-base"></i>
              <i class="icon-pinterest icon-light"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="#" id="smedia">
            <span class="icon-stack">
              <i class="icon-sign-blank icon-stack-base"></i>
              <i class="icon-linkedin icon-light"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="#" id="smedia">
            <span class="icon-stack">
              <i class="icon-sign-blank icon-stack-base"></i>
              <i class="icon-google-plus icon-light"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="#" id="smedia">
            <span class="icon-stack">
              <i class="icon-sign-blank icon-stack-base"></i>
              <i class="icon-twitter icon-light"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="#" id="smedia">
            <span class="icon-stack">
              <i class="icon-sign-blank icon-stack-base"></i>
              <i class="icon-facebook icon-light"></i>
          </span>
          </a>
        </li>
        <li class="divider-vertical"></li>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Portfolio", portfolio_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </div>
  </div>
</header>
