<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <script>
    // Load this when the DOM is ready
    $(function(){
      // You used .myCarousel here. 
      // That's the class selector not the id selector,
      // which is #myCarousel
      $('#myCarousel').carousel();
    });
    </script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>
      function initialize() {
        var map_canvas = document.getElementById('map_canvas');
        var latlng = new google.maps.LatLng(30.211923,-97.748626);
        var map_options = {
          center: latlng,
          zoom: 15,
          mapTypeControl: true, 
          mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(map_canvas, map_options);
        var companyPos = new google.maps.LatLng(30.211923,-97.748626);
        var companyMarker = new google.maps.Marker({
          position: companyPos,
          map: map,
          title:"Professional Workroom of Design"
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <%= render 'layouts/shim' %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
